.login-link, .logout-button {
    cursor: pointer;
    &:hover {
        color: green;
    }
}

.active {
    color: red;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 8px;
    height: 50px;
    background-color: white;
    padding: 0 8px;
}
