<div class="header-container">
  @if (authService.currentUser() === null) {
    <a routerLink="/auth/login" routerLinkActive="active" class="login-link">Login</a>
    <a routerLink="/auth/register" routerLinkActive="active" class="login-link">Register</a>
  }

  @if (authService.currentUser()) {
    <div class="nav-menu">
      <a routerLink="/boards"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{exact: true}"
        class="nav-menu-item">
        Home
      </a>
    </div>
    <span class="greating">Hello, {{authService.currentUser()?.username}}</span>
    <span class="logout-button" (click)="logout()">Logout</span>
  }
</div>
