<div class="todo-item">
    <div class="todo-title">
        Title - {{ todo().title }}
    </div>
    <div class="todo-description">
        Description - {{ todo().description }}
    </div>
    <div class="todo-status">
        <label for="status-select">Task status:</label>
        <select [formControl]="status" name="status" id="status-select">
            <option value="to-do">To do</option>
            <option value="in-progress">In progress</option>
            <option value="done">Done</option>
        </select>
    </div>
    <div class="todo-priority">
        <label for="priority-select">Task priority:</label>
        <select [formControl]="priority" name="priority" id="priority-select">
            <option value="1">Low</option>
            <option value="2">Normal</option>
            <option value="3">High</option>
            <option value="4">Highest</option>
        </select>
    </div>
    <div class="todo-due-date">
        <label for="dueDate">Due Date:</label>
        <input [formControl]="dueDate" type="date" id="dueDate" name="dueDate">
    </div>

    <div class="todo-footer">
        <div class="todo-author">
            Created by {{ todo().owner_metadata.username }}
        </div>
        <div class="todo-creation_date">
            {{ todo().created_at | date }}
        </div>
    </div>
    <div class="control" (click)="deleteItem()">Delete</div>
</div>
