:host {
    width: 100%;
}

.todo-item {
    background-color: gray;
    border-radius: 4px;
    color: yellow;
    display: flex;
    gap: 8px;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    padding: 8px;
    transition: all .5s;

    &:hover {
        background-color: #888888;
        cursor: pointer;
    }
}

.todo-title {
    font-weight: 800;
    font-size: 24px;
}

.control {
    cursor: pointer;

    &:hover {
        color: red;
    }
}
