<div class="create-form-block">
    <div class="form-title">
        Створити в ToDo
    </div>
    <div [formGroup]="taskCreateForm" class="form-container">
        <div class="control">
            <label for="title">Назва завдання:</label>
            <input formControlName=taskTitle type="text" class="todo-title" id="title">
        </div>
        <div class="control">
            <label for="description">Опис завдання:</label>
            <textarea formControlName=taskDescription type="text" class="todo-description" id="description"></textarea>
        </div>
        <div class="control">
            <input type="submit" value="Створити завдання" (click)="onSubmit()">
        </div>
    </div>
</div>
