<div class="custom-button" (click)="handleCreateTask()">Create New Task</div>

<div class="board-details">
    <div class="board-details-title">
        {{ board()?.title }}
    </div>
    <div class="board-details-body">
        <div class="board-info">
            <span>
                Created by: {{ board()?.owner?.metadata?.username }}
            </span>
            <span>
                {{ board()?.owner?.email }}
            </span>
            <div class="board-header">
                Created at: {{ board()?.created_at | date }}
            </div>
        </div>

        <div class="members">
            <div class="members-title">Board members:</div>
            <div class="members-list">
                <span class="member">{{ board()?.owner?.metadata?.username }}</span><span>, </span>
                @for (member of board()?.members; track member.id) {
                    <span class="member">{{ member.metadata.username }}</span><span>, </span>
                }
            </div>

            <div class="add-members">
                Add a member
                <div class="member-select">
                    <div class="control">
                        <label for="member-select">Enter the member e-mail you wish to add:</label>
                        <input #memberEmail name="member" id="member-select">
                    </div>
                    <div>
                        <input class="form-button" type="submit" value="Add a member" (click)="addUserToBoard(memberEmail.value)">
                    </div>
                </div>
            </div>
        </div>
    </div>


    
</div>

<div class="blocks-container">
    @if (isLoading()) {
        Loading...
    } @else {
        <div class="todo-list todo-status">
            <div class="todo-list-title">To Do</div>
            @if (toDoStatusTasks().length) {
                @for (todo of toDoStatusTasks(); track todo.id) {
                    <app-todo-item [todo]="todo" [members]="membersWithOwner()" (todoChanged)="reloadTodos()"></app-todo-item>
                }
            } @else {
                No tasks found.
            }
        </div>
        <div class="todo-list inprogress-status">
            <div class="todo-list-title">In Progress</div>
            @if (inProgressStatusTasks().length) {
                @for (todo of inProgressStatusTasks(); track todo.id) {
                    <app-todo-item [todo]="todo" [members]="membersWithOwner()" (todoChanged)="reloadTodos()"></app-todo-item>
                }
            } @else {
                No tasks found.
            }
        </div>
        <div class="todo-list done-status">
            <div class="todo-list-title">Done</div>
            @if (doneStatusTasks().length) {
                @for (todo of doneStatusTasks(); track todo.id) {
                    <app-todo-item [todo]="todo" [members]="membersWithOwner()" (todoChanged)="reloadTodos()"></app-todo-item>
                }
            } @else {
                No tasks found.
            }
        </div>  
    }
</div>
