<div class="create-form-block">
    <div class="form-title">
        Create ToDo
    </div>
    <div [formGroup]="todoCreateForm" class="form-container">
        <div class="control">
            <label for="title">Task Title:</label>
            <input formControlName=todoTitle type="text" class="todo-title" id="title">
        </div>
        <div class="control">
            <label for="description">Task Description:</label>
            <textarea formControlName=todoDescription type="text" class="todo-description" id="description"></textarea>
        </div>
        <div class="control">
            <input type="submit" value="Create Task" (click)="onSubmit()">
        </div>
    </div>
</div>
<div class="todo-list">
    @if (isLoading()) {
        Loading...
    } @else if (todos().length) {
        @for (todo of todos(); track todo.id) {
            <app-todo-item [todo]="todo"></app-todo-item>
        }
    } @else {
        No tasks found.
    }
</div>
