:host {
    display: block;
    padding: 12px;
    background-color: lightslategray;
    width: 100%;
}

.control {
    display: flex;
    flex-direction: column;
}

.blocks-container {
    display: flex;
    gap: 12px;
    height: calc(100vh - 280px);
}

.todo-list {
    display: flex;
    gap: 8px;
    flex-direction: column;
    align-content: center;
    align-items: center;
    flex: 1 1;
    padding: 8px;
    border: 2px solid black;
    border-radius: 4px;
    height: 100%;
    box-sizing: border-box;
    overflow: auto;
}

.todo-status {
    background-color: lightblue;
}

.inprogress-status {
    background-color: lightblue;
}

.done-status {
    background-color: lightblue;
}

.custom-button, .form-button {
    margin-right: 10px;
    
    background-color: lightgray;
    display: inline-block;
    padding: 4px;
    border-radius: 4px;
    cursor: pointer;
    transition: all ease .5s;

    &:hover {
        background-color: darkgray;
    }
}

.board-details {
    position: absolute;
    background-color: white;
    right: 0;
    display: none;
    // overflow: hidden;
    // transition: right 0.5s ease;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.5);

    &.active {
        display: block;
        // height: auto;
        // width: 300px;
    }
}

.board-details-title {
    text-align: center;
    font-size: 30px;
    color: black;
    line-height: 48px;
    margin-bottom: 10px;
}

.board-details-body {
    margin: 15px;
    justify-content: space-between;

    &.board-info, &.members {
        flex: 1 1;
    }
}

.members-title, .members-list {
    margin-bottom: 4px;
}

@media only screen and (max-width: 800px) {
    .blocks-container {
        flex-direction: column;
        overflow: auto;
    }

    .todo-list {
        flex: 0 0 max-content;
        height: unset;
    }
}

.header{
    
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.butons{
    display: inline-block;
}