:host {
    display: block;
    padding: 12px;
    background-color: #999999;
}

.control {
    display: flex;
    flex-direction: column;
}

.todo-list {
    display: flex;
    gap: 8px;
    flex-direction: column;
    align-content: center;
    align-items: center;
}

.member {
    cursor: pointer;
}
