<div class="create-task-btn" (click)="handleCreateTask()">Create Task</div>

<div class="board-details">
    <div class="board-header">
        {{ board()?.created_at | date }}
    </div>
    <div class="board-body">
        <div class="title">
            {{ board()?.title }}
        </div>
        <div class="members">
            @for (member of board()?.members; track member.id) {
                <div class="member">{{ member.metadata.username }}</div>
            }
        </div>
    </div>
    <div class="board-footer">
        <span>
            {{ board()?.owner?.metadata?.username }}
        </span>
        <span>
            {{ board()?.owner?.email }}
        </span>
    </div>
</div>

<div class="members">
    Add a member
    <div class="member-select">
        <label for="member-select">Member:</label>
        <select name="member" id="member-select" (change)="addUserToBoard($event)">
            @for (member of members(); track member.id) {
                <option value="{{ member.id }}">{{ member.email }}</option>
            }
        </select>
    </div>
    
</div>

<div class="todo-list">
    @if (isLoading()) {
        Loading...
    } @else if (todos().length) {
        @for (todo of todos(); track todo.id) {
            <app-todo-item [todo]="todo"></app-todo-item>
        }
    } @else {
        No tasks found.
    }
</div>
