:host {
    display: block;
    padding: 12px;
    background-color: #999999;
    width: 100%;
}

.control {
    display: flex;
    flex-direction: column;
}

.blocks-container {
    display: flex;
    gap: 12px;
}

.todo-list {
    display: flex;
    gap: 8px;
    flex-direction: column;
    align-content: center;
    align-items: center;
    flex: 1 1;
    padding: 8px;
    border: 1px solid yellow;
    border-radius: 4px;
    height: fit-content;
}

.todo-status {
    background-color: lemonchiffon;
}

.inprogress-status {
    background-color: lightgreen;
}

.done-status {
    background-color: lightblue;
}

.member {
    cursor: pointer;
}

.create-task-btn {
    background-color: lightgray;
    display: inline-block;
    padding: 4px;
    border-radius: 4px;
    cursor: pointer;
    margin-bottom: 20px;
    transition: all ease .5s;

    &:hover {
        background-color: darkgray;
    }
}
