.form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    padding: 20px;
    background-color: white;
    width: 350px;
    height: fit-content;
    margin-top: 80px;
}
.container {
  padding: 30px;
}