.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    padding: 50px;
    background-color: gray;
    width: 200px;
    height: fit-content;
    margin-top: 80px;
}
