:host {
    width: 100%;
    
    
    background-color: lightslategray;
    display: flex;
    justify-content: center;

}

.control {
    display: flex;
    flex-direction: column;
}
.create-form-block{
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    padding: 20px;
    
    width: 350px;
    height: fit-content;
    margin-top: 80px;
}
