.board {
    height: 200px;
    width: 200px;
    background-color: white;
    border-radius: 4px;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    padding: 8px;
    transition: all .5s;
    border: 2px solid black;

    &:hover {
        cursor: pointer;
        transform: scale(1.1);

    }
}
