:host {
    padding: 12px;
    background-color: #999999;
    width: 100%;
}

.boards-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.custom-button {
    background-color: lightgray;
    display: inline-block;
    padding: 4px;
    border-radius: 4px;
    cursor: pointer;
    margin-bottom: 20px;
    transition: all ease .5s;

    &:hover {
        background-color: darkgray;
    }
}
